@media (max-width: 768px) {
  .car-mobile {
    flex-direction: column;
    padding: 1px;
  }
  .head {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    flex-direction: column;
    text-align: left;
  }
  .repair {
    font-size: 13px;
    text-align: left;
  }
}
